{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h6 class="card-title m-0">Create Blog</h6>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-sm btn-success">
                                {% if object.id %} Update {% else %} Save {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}