{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container pt-1">
        <a href="{% url 'catalog:blog_form' %}" class='btn btn-sm btn-primary'>Create Blog</a>
    </div>
    <div class="container pt-2">
        <div class="row">
            {% for blog in object_list %}
                {% if blog.is_published %}
                    <div class="col-md-6">
                        <div class="card mb-3 text-center">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ blog.preview_image.url }}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column h-100">
                                        <h5 class="card-title">{{ blog.title|truncatechars:30 }}</h5>
                                        <p class="card-text">{{ blog.contained|truncatechars:150 }}</p>
                                        <div class="mt-auto">
                                            <p class="card-text mb-1">
                                                <small class="text-body-secondary">{{ blog.created_at }}</small>
                                                <small class="text-body-secondary ps-5">{{ blog.view_count }}</small>
                                            </p>
                                            <p class="card-text pt-2">
                                                <a href="{% url 'catalog:blog_detail' blog.id %}"
                                                   class="btn btn-sm btn-primary">Read</a>
                                                <a href="{% url 'catalog:blog_update' blog.id %}"
                                                   class="btn btn-sm btn-success">Edit</a>
                                                <a href="{% url 'catalog:blog_delete' blog.id %}"
                                                   class="btn btn-sm btn-danger">Delete</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}