{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    <div class="container pt-2">
        <div class="row">
            <div class="col-12 mb-5">
                <a href="{% url 'catalog:blog_form' %}" class='btn btn-outline-primary'>Create Blog</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for blog in object_list %}
                    {% if blog.is_published %}
                        <div class="col-6">
                            <div class="card mb-4 box-shadow">
                                <img src="{{ blog.preview_image.url }}" class="img-fluid rounded-start"
                                     alt="...">
                                <h5 class="card-title">{{ blog.title|truncatechars:30 }}
                                            slug: {{ blog.slug }}</h5>
                                <div class="card-body">
                                    <div class="card-text">
                                        <p class="card-text">{{ blog.contained|truncatechars:150 }}</p>
                                        <p class="card-text mb-1">
                                            <small class="text-body-secondary">{{ blog.created_at }}</small>
                                            <small class="text-body-secondary ps-5">{{ blog.view_count }}</small>
                                        </p>
                                        <p class="card-text pt-2">
                                            <a href="{% url 'catalog:blog_detail' blog.id %}"
                                               class="btn btn-sm btn-outline-warning">Read</a>
                                            <a href="{% url 'catalog:blog_update' blog.id %}"
                                               class="btn btn-sm btn-outline-success">Edit</a>
                                            <a href="{% url 'catalog:blog_delete' blog.id %}"
                                               class="btn btn-sm btn-outline-danger">Delete</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
    </div>

{% endblock content %}