{% extends 'catalog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
    <div class="col-12">
        <form method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Create Product
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-sm btn-success">
                                {% if object.id %} Update {% else %} Save {% endif %}
                            </button>
                        </div>

                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
{% if object %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Version Product
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                    <div class="form-group">
                            <label for="{{ form.is_active_version.id_for_label }}">Активная версия</label>
                            {{ form.is_active_version }}
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        {% endif %}
        </form>
    </div>
{% endblock content %}