{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card mb-3 me-3 text-center" style="max-width: 540px;">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-md-4 justify-content-center">
                    <img src="{{ object.preview }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                            <p class="card-text"></p>
                                <small
                                    class="text-body-secondary">{{ object.created_at }}
                                </small>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}