{% extends 'catalog/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    <div class="container pt-2">
        <div class="row">
            <div class="col-12 mb-5">
                <a href="{% url 'catalog:catalog_form' %}" class='btn btn-outline-primary '>Create Product</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for product in object_list %}
                    <div class="col-6">
                        <div class="card mb-4 box-shadow">
                            <img src="{{ product.preview }}" class="img-fluid rounded-start" alt="...">
                            <h5 class="card-title">{{ product.name|truncatechars:30 }}</h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <p class="card-text">{{ product.description|truncatechars:150 }}</p>
                                    <p class="card-text mb-1">
                                        <small class="text-body-secondary">{{ product.date_of_creation }}</small>
                                        <small class="text-body-secondary ps-5">{{ product.view_count }}</small>
                                        {% for version in active_versions %}
                                            <li>Активная версия: {{ version }}</li>
                                        {% endfor %}

                                    </p>
                                    <p class="card-text pt-2">
                                        <a href="{% url 'catalog:catalog_detail' product.id %}"
                                           class="btn btn-sm btn-outline-warning">Read</a>
                                        <a href="{% url 'catalog:catalog_update' product.id %}"
                                           class="btn btn-sm btn-outline-success">Edit</a>
                                        <a href="{% url 'catalog:catalog_delete' product.id %}"
                                           class="btn btn-sm btn-outline-danger">Delete</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}